@import "./variables.scss";
.navbar {
  padding: 15px 80px;

  .navbar-brand {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .navbar-nav {
    display: flex;
    gap: 120px;

    .nav-link {
      font-weight: 500;
      color: black;
      transition: color 0.3s;

      &:hover {
        color: $primary-color;
      }
    }
  }
  .btn-block {
    display: flex;
    gap: 10px;
  }

  .demo-btn {
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    font-size: 16px;
    padding: 15px 20px;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth easing */
    &:hover {
      transform: scale(1.05);
      font-size: 16px;
    }
  }
  .login-btn {
    border: 1px solid $primary-color;
    color: $primary-color;
    font-weight: bold;
    border-radius: 12px;
    padding: 15px 20px;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth easing */
    &:hover {
      transform: scale(1.05);
      font-size: 16px;
    }
  }
}
.parent {
  .heading {
    font-size: 48px;
    color: $heading-color;
    font-weight: 600;
  }
  .custoume-btn {
    border: 1px solid $primary-color;
    color: $primary-color;
    font-weight: bold;
    border-radius: 12px;
    padding: 15px 20px !important;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth easing */
    &:hover {
      transform: scale(1.05);
      font-size: 16px;
    }
  }
  .hero-section {
    margin: 50px 0px;
    .heading {
      font-size: 56px;
    }
    p {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 400;
      color: $paragraph-color;
    }
    .custoume-btn {
      background-color: $primary-color;
      color: white;
      transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth easing */
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .brands {
    padding: 0px 20px;
    .brand-card {
      background: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      flex-wrap: wrap !important;
      border-radius: 8px;
      height: 80px;
      align-items: center;
      transition: transform 0.3s ease-in-out;
      img {
        padding: 0 50px;
      }
    }
  }
  .salesforce {
    padding: 0 15px;
    margin-bottom: 50px;
    .salesforce-content {
      .salesforce-inner-text {
        font-size: 18px;
        font-weight: 350;
      }
      .custoume-btn {
        background-color: $primary-color;
        color: white;
      }
    }
  }
  .stategy {
    .stategy-card {
      width: 100%;
      .stategy-img {
        margin: 20px 0;
      }
      &:hover {
        background-color: $hover-color;
      }
    }
  }
  .industry-section {
    background-color: $secondary-color;
    padding: 20px 100px !important;
    .inner-industry-section {
      padding: 0 50px;
      margin-bottom: 30px;
      width: 100%;
      .cards {
        .card {
          border: none;
          border-radius: 12px;
          padding: 10px 20px;
          p {
            height: 120px;
            font-size: 17px;
            color: $paragraph-color;
          }
          .custoume-btn {
            background-color: $primary-color;
            color: white;
            width: 150px;
          }
        }
      }
    }
  }
  .form-benefits {
    .inner-form-benefits {
      .form-benefits-content {
        .form-benefits-subtext {
          font-size: 18px;
        }
        .form-benefits-check {
          .form-check-text {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            color: $heading-color;
          }
        }
        .form-btn {
          .custoume-btn {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }
  .form-organization {
    background-color: $heading-color;
    .inner-form-organization {
      .form-org-content {
        .form-org-heading {
          font-size: 32px;
        }
        .form-org-btn {
          .custoume-btn {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }
}
/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    .navbar-nav {
      gap: 20px;
      align-items: start;
    }
    .navbar-collapse {
      text-align: center;
    }
    .btn-block {
      margin-top: 10px;
      flex-direction: column;
      gap: 10px;
      .demo-btn {
        width: 100%;
      }
      .login-btn {
        width: 100%;
      }
    }
  }
  .parent {
    .heading {
      padding: 0 0 !important;
      font-size: 32px !important;
    }
    .hero-section {
      width: 100%;

      p {
        font-size: 14px;
      }
      img {
        margin-top: 20px;
        width: 100%;
      }
    }
    .brands {
      .brand-card {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .salesforce {
      flex-wrap: wrap !important;
      .salesforce-content {
        width: 100%;
        .salesforce-heading {
          padding: 0 0 !important;
          margin: 0 0 !important;
        }
        .salesforce-inner-text {
          padding: 0 0 !important;
          margin: 0 0 !important;
          font-size: 14px;
        }
      }
      .expert-img {
        margin-bottom: 50px;
        img {
          margin-top: 20px;
          height: 200px;
          width: 100%;
        }
      }
    }
    .stategy {
      padding: 0 0 !important;
      flex-direction: column;
      .strategy-title {
        font-size: 26px;
        font-weight: 600;
      }
    }
    .industry-section {
      padding: 0 15px !important;
      .inner-industry-section {
        padding: 0 0 !important;
        .heading {
          font-size: 26px;
        }
      }
    }
  }
  .form-benefits {
    padding: 40px 0 !important;
    .inner-form-benefits {
      padding: 0 0 !important;
      flex-direction: column !important;
      .form-benefits-content {
        padding: 0 0 !important;
        .form-benefits-title {
          font-size: 28px;
          padding: 0 15px !important;
          width: 100% !important;
        }
        .form-benefits-subtext {
          padding: 0 15px !important;
        }
        .form-benefits-check {
          padding: 0 15px !important;
        }
        .form-btn {
          padding: 0 15px !important;
        }
      }
      .form-table-img {
        margin: 30px 0;
        padding: 0 15px !important;
        img {
          width: 100%;
        }
      }
    }
  }
  .form-organization {
    padding: 30px 15px !important;
    .inner-form-organization {
      flex-direction: column;
      padding: 0 15px !important;
      .form-org-heading {
        font-size: 22px !important;
        padding: 0 0 !important;
        margin: 0 0 !important;
      }
      .form-org-btn {
        margin: 30px 0;
        padding: 0 0 !important;
      }
      .form-org-img {
        margin: 30px 0;
        padding: 0 0px !important;
        img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}
