.navbar {
  background-color: white;
  padding: 15px 80px;

  .navbar-brand {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .navbar-nav {
    display: flex;
    gap: 120px;

    .nav-link {
      font-weight: 500;
      color: black;
      transition: color 0.3s;

      &:hover {
        color: #0056b3;
      }
    }
  }

  .btn-block {
    display: flex;
    gap: 10px;
  }

  .demo-btn {
    background-color: #0569cc;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    font-size: 16px;
    padding: 15px 20px;
    transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth easing */
    &:hover {
      transform: scale(1.05);
      font-size: 16px;
    }
  }

  .login-btn {
    border: 1px solid #0569cc;
    color: #007bff;
    font-weight: bold;
    border-radius: 12px;
    padding: 15px 20px;
  }
}
.parent {
  .hero-section {
    margin: 50px 0px;
    span {
      width: 80%;
      h1 {
        font-weight: 600;
        font-size: 58px;
        color: #131d52;
      }
      p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        color: #38414a;
      }
    }
    button {
      background-color: #0569cc;
      color: white;
      font-weight: bold;
      border-radius: 12px;
      padding: 15px 20px;
      border: none;
      margin-top: 20px;
      transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth easing */
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .brands {
    padding: 0px 20px;
    margin-bottom: 100px;
    .brand-card {
      background: #ffffff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      flex-wrap: wrap !important;
      border-radius: 8px;
      height: 80px;
      align-items: center;

      transition: transform 0.3s ease-in-out;
      img {
        padding: 0 50px;
      }
    }
  }
  .salesforce {
    padding: 0 15px;
    margin-bottom: 50px;
    .salesforce-title {
      width: 75%;
      h1 {
        font-weight: 600;
        font-size: 48px;
        color: #131d52;
      }
    }
    .salesforce-subtext {
      p {
        width: 80% !important;
        font-size: 18px;
        font-weight: 350;
      }
    }
    button {
      background-color: #0569cc;
      color: white;
      font-weight: bold;
      border-radius: 12px;
      padding: 15px 20px;
      border: none;
      margin-top: 20px;
    }
  }
  .stategy {
    margin-bottom: 50px;
    .strategy-title {
      margin-bottom: 50px;
      h1 {
        font-size: 48px;
        font-weight: 600;
        color: #131d52;
      }
    }
    .stategy-card {
      width: 100%;
      .stategy-img {
        margin: 20px 0;
      }
      &:hover {
        background-color: #dff0ff;
      }
    }
  }
  .custoume-btn {
    border: 1px solid #0569cc;
    color: #007bff;
    font-weight: bold;
    border-radius: 12px;
    padding: 15px 20px !important;
  }
  .industry-section {
    background-color: #f8f1e7;
    padding: 50px 20px;

    .container {
      padding: 0 50px;
      width: 100%;
      h1 {
        font-size: 48px;
        font-weight: 600;
        color: #131d52;
      }
      .cards {
        .card {
          border: none;
          border-radius: 12px;
          padding: 10px 20px;
          p {
            height: 100px;
          }
          .custoume-btn {
            width: 40%;
            background-color: #0569cc;
            color: white;
            font-weight: bold;
            border-radius: 12px;
            border: none;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .form-benefits {
    .inner-form-benefits {
      .form-benefits-content {
        .form-benefits-title {
          width: 50%;
          margin-bottom: 30px;
          h1 {
            font-size: 48px;
            color: #131d52;
            font-weight: 600;
          }
        }
        .form-benefits-subtext {
          width: 50%;
          margin-bottom: 30px;
          span {
            font-size: 18px;
            font-weight: 350;
          }
        }
        .form-benefits-btn{
          width: 40%;
          .custoume-btn {
            width: 40%;
            background-color: #0569cc;
            color: white;
            font-weight: bold;
            border-radius: 12px;
            border: none;
            margin-top: 20px;
          }
        }
        .form-benefits-check{
          span{
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            color: #131d52;
            img{
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    .navbar-nav {
      gap: 20px;
      align-items: start;
    }
    .navbar-collapse {
      text-align: center;
    }

    .btn-block {
      margin-top: 10px;
      flex-direction: column;
      gap: 10px;
      .demo-btn {
        width: 100%;
      }
      .login-btn {
        width: 100%;
      }
    }
  }

  .parent {
    .hero-section {
      width: 100%;
      span {
        width: 100%;
        h1 {
          font-size: 32px;
        }
        p {
          font-size: 14px;
        }
      }
      img {
        margin-top: 20px;
        width: 100%;
      }
    }
    .brands {
      .brand-card {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .salesforce {
      flex-wrap: wrap !important;
      .salesforce-content {
        width: 100%;
        .salesforce-title {
          width: 100%;
          h1 {
            width: 100%;
            font-size: 25px;
          }
        }
        .salesforce-subtext {
          p {
            width: 100% !important;
            font-size: 14px;
          }
        }
      }
      .expert-img {
        margin-bottom: 50px;
        img {
          margin-top: 20px;
          height: 200px;
          width: 100%;
        }
      }
    }
    .stategy {
      padding: 0 0 !important;
      flex-direction: column;
      .strategy-title {
        h1 {
          font-size: 26px;
          font-weight: 600;
        }
      }
    }
    .industry-section {
      .container {
        padding: 0 0;
        h1 {
          font-size: 26px;
        }
        .cards{
          .card{
            .custoume-btn{
              width: 50%;
            }
          }
        }
      }
    }
  }
  .form-benefits {
    padding: 40px 0 !important;
    .inner-form-benefits {
      padding: 0 0 !important;
      .form-benefits-content {
        padding: 0 0 !important;
        .form-benefits-title {
          padding: 0 25px !important;
          width: 100% !important;
          h1 {
            font-size: 26px !important;
            color: #131d52;
            font-weight: 600;
            text-align: start;
          }
        }
        .form-benefits-subtext {
          padding: 0 25px !important;
          width: 100% !important;
          span {
            font-size: 14px !important;
          }
        }
        .form-benefits-btn{
          width: 100% !important;
          padding: 0 25px !important;
          .custoume-btn{
            width: 50% !important;
          }
        }
      }
    }
  }
}
